<form action="/home/write" method="get">
  <label>이름</label>
  <input type="text" name="name" autofocus>
  <label>직업</label>
  <input type="text" name="job">

  <input type="submit" value="SUBMIT">
</form>