<div class="top">
  <div class=row>  
    <div class=" col-xs-2 col-md-2" >
      <img src="/assets/g.jpeg" width="40px" height="40px" alt="그림 설명" id="pic">
    </div>
      <div class=" col-xs-10 col-md-10" style="padding-left: 0px; padding-right: 15px;"><font size ="2" color="#90949c"><a style="color: #365899;" href="#">박근혜</a>님이 새로운 사진 1장을 추가했습니다 — <a style="color: #365899;" href="#">최순실</a>님 외 <a style="color: #365899;" href="/home/list"><%= @allpost.size %></a>명과 함께</font size></div>
  </div>
    <br>  
    <div class="content">
      <p><font size="3">죄송합니다.</font size></p>
    </div>
    <br>
    <div class="sub">
    <img src="/assets/sorry.jpg" width="100%" height="100%">
  </div>  
</div>

