<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1 ">
  <!-- Include jQuery Mobile stylesheets -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Include the jQuery Mobile library -->
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
 
  <link rel="stylesheet" type="text/css" href="home.scss">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div data-role="page" id="pageone" >
  <div data-role="header" class="header" >
    <br>
    <h1>순실록</h1>
    <% if user_signed_in? %>
      <a href="/users/sign_out">로그아웃</a>
    <% end %>
    <br>
  </div>

  <div data-role="main" class="ui-content">
    <div class="view_window">
      <div class"content_view">
        
        <%= yield %>
      </div>
    </div>
  </div>

  <div data-role="footer" class="footer">
    <h1>Supported by <br>
      <img src="/assets/likelion.png" height="25" width="100">
    </h1>
  </div>

</div>

</body>
</html>
